* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
.content {
  display: flex;
  width: 80%;
  border: 0px solid #ddd;
}
.left-section {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 626px;
  padding: 20px;
  border-right: 1px dotted #6666;
  margin-top: 37px;
}
.left-section h1 {
  writing-mode: horizontal-tb;
  font-size: 30px;
  font-weight: 400;
  color: #333;
  font-family: dubai light;
}
.right-section {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.image-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.quote-container {
  width: 50%;
  padding: 20px;
  padding-top: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-bottom: 1px;
}
.quote-container h2 {
  font-size: 25px;
  color: #666;
  font-weight: normal;
  margin-bottom: 10px;
  opacity: 15%;
  font-family: "Baskerville Old";
}
.quote-container p {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}
.quote-container .author {
  font-size: 16px;
  color: #666;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  opacity: 40%;
}
.quote-container .year {
  font-size: 12px;
  color: #999;
  text-align: left;
  margin-bottom: 100px;
  font-family: "Times New Roman", Times, serif;
  opacity: 40%;
}
.quote-container .copyright {
  font-size: 10px;
  color: #999;
  text-align: left;
  margin-top: 13px;
}
